{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the about page</h1>
            <p>
                Welcome to  - Your Home Away From Home!
                At Hotel we believe that your travel experience should be nothing short of exceptional. 
                Nestled in the heart of serene surroundings, our hotel is a haven of comfort and tranquility. 
                Whether you're a weary traveler seeking respite or an adventurous explorer looking for new horizons, our doors are open wide to welcome you.
                Our dedicated team is committed to providing personalized service and ensuring that your every need is met with warmth and genuine hospitality. 
                From the moment you step into our lobby to the time you bid us farewell, we strive to create an unforgettable experience that leaves you with cherished memories.
            </p>
        </div>
    </div>
</div>
{{end}}