{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the contact page</h1>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <strong>Name</strong>
                    </div>
                    <div class="col-3">
                        <strong>Position</strong>
                    </div>
                    <div class="col-3">
                        <strong>Email</strong>
                    </div>
                    <div class="col-3">
                        <strong>Contact Number</strong>
                    </div>
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-3">
                        <strong>Ivan Pogiba</strong>
                    </div>
                    <div class="col-3">
                        <strong>Administrator</strong>
                    </div>
                    <div class="col-3">
                        <strong>pogibuskaivan@gmail.com</strong>
                    </div>
                    <div class="col-3">
                        <strong>+7(999)999-99-99</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}